.app-container {
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  padding: 40px;
  background: #f8f6ff;
  min-height: 100vh;
}

.carta {
  display: inline-block;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  background: white;
  max-width: 400px;
  margin-top: 20px;
}

.icono {
  font-size: 64px;
  margin-bottom: 16px;
}
.fecha {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}
